In [ ]:
#DATATYPES
#int
x=10
print(x) #10
print(type(x)) #<class 'int'>

#float
y=1.2
print(y) #1.2
print(type(y)) #<class 'float'>

#complex
z=1+2j+3
print(z) #(4+2j)
print(type(z)) #<class 'complex'>

#Text Type
name="dhanalakshmi"
age=23
hobby='flying'
print(name + hobby) #dhanalakshmiflying
print(name + " "+str(age)+hobby) #dhanalakshmi 23flying
print(type(name)) #<class 'str'>
print(type(hobby)) #<class 'str'>

#SEQUENCE NUMBERS
#list
li=[1,2,3,22,2] #allows duplicates
print(type(li)) #<class 'list'>
print(li[2]) #3
li[3]=45 #mutable
print(li) #[1, 2, 3, 45, 2]
li2=["hi","nu","mk","lo","lo"]
li2[3]=3
print(list(li2)) #['hi', 'nu', 'mk', 3, 'lo']
print(str(li[1]) + "  " +str(type(li2))) #2  <class 'list'>


#tuple
tu=(1,2,3,4,3) #allows duplicates immutable
print(type(tu)) #<class 'tuple'>
print(tu[4]) #3
tu2=('df','ad',3)
print(tu2) #('df', 'ad', 3)

#range(start,stop,step) #Generates a sequence of integers starting from the start value (inclusive) up to, but not including, 
#the stop value, with increments determined by the step value.
r=range(1,10,3) #no dupilicates and immutable
print(list(r)) #[1,4,7]

#MAPPING TYPE
#dict =dictionary
dt={"name":"Dhana","Age":27,'hobby':"writing"} #unordered with key-value pairs 
#key should be unique and immutable and values are mutable
print(dict) #<class 'dict'>
print(type(dict)) #<class 'type'>
print(type(dt)) # <class 'dict'>
print(dt) # {'name': 'Dhana', 'Age': 27, 'hobby': 'writing'}
dt['lid']="flying"
print(dt) #{'name': 'Dhana', 'Age': 27, 'hobby': 'writing', 'lid': 'flying'}
dt['Age']=23
print(dt) #{'name': 'Dhana', 'Age': 23, 'hobby': 'writing', 'lid': 'flying'}

#set
st={1,3,4,6,66,6,4,3,1,1,1,2} #unordered,#unindexed,mutable,does not allow duplicates
print(type(st)) #<class 'set'>
print(st) #{1, 2, 66, 3, 4, 6}
print(st.add(100)) #None  since inside print add function is not working
st.add(100)
print(st) #{1, 2, 66, 3, 4, 6, 100}
#frozen set
fs=frozenset({1,2,3,4,2}) #immutable
print(type(fs)) #<class 'frozenset'>
print(fs) #frozenset({1, 2, 3, 4})

#Boolean
#bool
item=True
print(type(item)) # <class 'bool'>
print(bool(item)) # True
print(item) # True
print(3>4) #False
print(9<10) #True

#None Type
#NoneType
res=None
print(type(res)) # <class 'NoneType'>
print(res) # None

10
<class 'int'>
1.2
<class 'float'>
(4+2j)
<class 'complex'>
dhanalakshmiflying
dhanalakshmi 23flying
<class 'str'>
<class 'str'>
<class 'list'>
3
[1, 2, 3, 45, 2]
['hi', 'nu', 'mk', 3, 'lo']
2  <class 'list'>
<class 'tuple'>
3
('df', 'ad', 3)
[1, 4, 7]
<class 'dict'>
<class 'type'>
<class 'dict'>
{'name': 'Dhana', 'Age': 27, 'hobby': 'writing'}
{'name': 'Dhana', 'Age': 27, 'hobby': 'writing', 'lid': 'flying'}
{'name': 'Dhana', 'Age': 23, 'hobby': 'writing', 'lid': 'flying'}
<class 'set'>
{1, 2, 66, 3, 4, 6}
None
{1, 2, 66, 3, 4, 6, 100}
<class 'frozenset'>
frozenset({1, 2, 3, 4})
<class 'bool'>
True
True
False
True
<class 'NoneType'>
None

In [ ]:
#CONDITIONAL STATEMENTS
#Decision maker in code to choose yes or no
#simple if else
age=10
if age>9:
    print("adult")
else:
    print("child")
#o/p adult

#if elif else statement
mark=100
if mark>25 and mark<=49:
    print("average")
elif mark>50 and mark<=74:
    print("good")
elif mark>75 and mark<=99:
    print("vgood")
elif mark==100:
    print("excellent")
else:
    print("Fail")

#o/p excellent

#nested if
age=25
citizen=False
if age>18:
    if not citizen:
        print("Eligible for voting")
    else:
        print("not eligible for voting")
elif age<18 and age>10:
    if citizen:
        print("lower eligible")
    else:
        print("not eligible")
else:
    print("NO")
#o/p Eligible for voting

#Short-hand if (Ternary Operator)
x=10 #Used for simple one-line conditions.
print("Even") if x%2==0 else print("Odd")
#o/p even
mark=36
print("Fail") if mark<35 else print("Pass")
#o/p Pass

adult
excellent
Eligible for voting
Even
Pass

In [ ]:
#Loop
#for iterated over a sequence(list,range,tuple,dict,set,frozenset)
#for range
for i in range(5):
    print(i)
#o/p in vertical 0 1 2 3 4

#for in list #ordered,mutable
fruits=['apple','mango','papaya']
for f in fruits:
    print(f) # o/p in vertical apple mango papaya

#for in tuple #ordered,immutable
fruits=('apple','orange','mango')
for fr in fruits:
    print(fr) #o/p in vertical apple orange mango

#for in dict #key value unique immutable and value mutable
kv={'name':'dhana','age':34}
for k in kv:
    print(k) #o/p in vertical name age
for k,v in kv,kv.values():
    print(k,v) #o/p invertical name age
                               #dhana 34
for k,v in kv.items():
    print(k, "=" ,v) #o/p in vertical name = dhana age = 34
#for in set
dt={1,2,2,3,4}
for s in dt:
    print(s) #o/p in vertical 1,2,3,4

#for in frozenset
fs=frozenset({1,2,2,3,4})
for f in fs:
    print(f) #o/p in vertical 1,2,3,4

#while loop iterates through loop until condition is met
c=1
print("while")
while c<=5:
    print(c)
    c+=1

#loop keywords
#break to break the code
print("break")
for i in range(10):
    if i==5:
        break
    print(i) #o/p 0 1 2 3 4 
#continue skip and execute next step
for i in range(5):
    if i==2:
        continue
    print(i) #o/p 0 1 3 4
for i in range(3):
    pass  # Placeholder for future code
    print(i) #o/p 0 1 2

0
1
2
3
4
apple
mango
papaya
apple
orange
mango
name
age
name age
dhana 34
name = dhana
age = 34
1
2
3
4
1
2
3
4
while
1
2
3
4
5
break
0
1
2
3
4
0
1
3
4
0
1
2

In [1]:
#practice codes
#a)String reverse
#op1
revstr="Hello"
print(revstr[::-1]) #olleH
print(revstr[::-2]) #olH starts from last letter and takes second letters in a row
print(revstr[1::]) #ello skips first letter if 2 is given skips first two letters

#op2
revstr="Hello World"
rev=reversed(revstr) #iterator which yields a character
print(rev)
jn="".join(reversed(revstr)) #join combines character into new string
print(jn) #dlroW olleH

#op3
revstr="hello"
c=""
for char in revstr:
    c=char+c
print(c) #olleh

#op4
def revrec(s):
    if len(s)==0:
        return s
    else:
        return revrec(s[1:])+s[0]
revstr="dhana"
print(revrec(revstr))

#b)prime number
num=7
isprime=True
for i in range(2,int(num/2)+1):
    if num%i==0:
        isprime=False
        break
print("prime" if isprime else "non prime")
#even number
start=2
end=5
for i in range(int(start),int(end)+1):
    if i%2==0:
        print(i)
            
def ev(start,end):
    prime=[]
    for i in range(int(start),int(end)+1):
        if i%2==0:
            prime.append(i)
    return prime
print(ev(2,20))

#max number inlist
lis=[12,34,55,2,1,99]

print(max(lis))

#loop triangle
for i in range(1, 6):
    for j in range(i):
        print("*",end="")
    print()
    #o/p
#*
#**
#***
#****
#*****

for i in range(5,0,-1):
    print(" "* (5-i) + "*" * (2*i-1))
#o/p
'''
*********
 *******
  *****
   ***
    *
    '''

olleH
olH
ello
<reversed object at 0x0000020AD9A236D0>
dlroW olleH
olleh
anahd
prime
2
4
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
99
*
**
***
****
*****
*********
 *******
  *****
   ***
    *

'\n*********\n *******\n  *****\n   ***\n    *\n    '

In [ ]:
i=input()
Print(i)

In [ ]:
i=input()
Print(i)